@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

.range {
    min-width: none;
    color: white;
    margin-bottom: -2rem;
    /* position: relative; */
    /* background-color: #fff; */
}

.range-title {
    /* position: absolute; */
    margin-top: -5rem;
    font-size: 3vw;
    font-family: 'Poppins';
    color: rgba(255, 255, 255, 0.2);
    font-weight: 500;
}

.field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}


.value {
    width: 2.5rem;
    height: auto;
    font-family: 'Poppins';
    font-weight: 600;
}

.left{
    color: #87C232;
}

input {
    /* transition: all .2s; */
    
    appearance: none;
    height: 2px;
    width: 15vw;
    background: rgb(165, 165, 165);
    outline: none;
    border: none;
}


input::-webkit-slider-thumb,
input::-moz-range-thumb{
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #87C232;
    border-radius: 2rem;
    /* border: 2px solid black; */
    box-shadow: 1px 1px .25rem .25rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
