.App {
  text-align: center;
  display: grid;
  grid-template-rows: 100px 150px 150px 250px 50px;
  grid-template-columns: [main-start] 50px [left-margin graph-start] 1fr [graph-end options-start] 400px [options-end right-margin] 50px [main-end];
}

.Graph {
  /* position: absolute; */
  background-color: orangered;
  grid-area: 2 / graph-start / -2 / graph-end;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1, -1);
}