/*
TODO:
replace px with rem
*/

body {
  background-color: #212121;
}

.App {
  text-align: center;
  display: grid;
  grid-template-rows: 10vh 25vh 25vh 25vh 1vh;
  grid-template-columns: [main-start] 2vw [left-margin graph-start] 1fr [graph-end options-start] 25vw [options-end right-margin] 2vw [main-end];
  grid-gap: 20px;
}

.Graph {
  /* position: absolute; */
  background-color: rgba(255, 255, 255, 0.05);
  grid-area: 2 / graph-start / -2 / graph-end;
  display: flex;
  padding-bottom: 15px;
  border-radius: 15px;
  align-items: flex-start;
  justify-content: center;
  transform: scale(1, -1);
}

.Load {
  grid-area: 2 / options-start / 3 / options-end;
  border-radius: 15px;
  background-color: rgba(65, 105, 225, 0.1);
}

.Algorithm {
  grid-area: 3 / options-start / 4 / options-end;
  border-radius: 15px;
  background-color: blueviolet;
}

.Speed {
  grid-area: 4 / options-start / 5 / options-end;
  border-radius: 15px;
  background-color: skyblue;
}